body{
  padding:0;
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
}


#container{
  background:#1b232d; 
}

#headerCont{
  /* height:200px; */
  width:100%;
  background:#000000b8;
}

#FCname, #FCslogan {
    color: #bf9e49;
    text-shadow: 1px 1px 4px #ffffff9e;
    font-size: 3em;
    text-align: center;
    margin: auto;
    /* display: inline-block; */
    /* float: left; */
    padding-top: 20px;
    padding-bottom: 20px;
}

#FCslogan{
  font-size:16px;  
}

.Crest{
  position:absolute;
  top:0;
  left:0;  
}
p#FCcrest {
    width: 128px;
    position: relative;
    border: 2px solid gold;
    height: 128px;
    display: inline-block;
    float: left;
}

#optionsBox {
    position: absolute;
    right: 10;
    background: white;
    top: 10;
    width: 100px;
    height: 100px;
    text-align: center;
}

.toggleBox {
    width: 46%;
    height: 46%;
    display: inline-block;
    margin: 1%;
    background: black;
    color: white;
    border-radius: 3px;
    line-height: 48px;
    font-size: 24px;
}

.charCard {
    width: 200px;
    height: 301px;
    display: inline-block;
    margin: 5px;
    /* border: 2px solid #a98b2a; */
    /* border-radius: 89px; */
    /* background: #ae9031; */
}

.charCard:hover{	
  transform: scale(1.1);
  transition: all ease 500ms;
}

.front, .back {
    /*background: #b19336;*/
    box-shadow: 2px 3px 9px black;
}

.back{

}

.rankTitle {
    font-size: 5em;
    color: #ffffff26;

}

.portrait{
  width: 99%;
  height:auto;
  margin:0;
  border-radius: 15px;
  border: 1px solid #b19336;
}

.charName {
    position: relative;
    /* bottom: 0; */
    background: #171f85;
    color: white;
    height: 20px;
    font-size: 16px;
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 2px;
    border-radius: 11px;
    border: 2px solid #b19336;
}

.members {
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;

}

.SB,.HW,.SHB{
   display:none;
}

.SHB{
  display:inline-block;
}