body{
  padding:0;
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
}


#container{
  background:#1b232d; 
}

#headerCont{
  /* height:200px; */
  width:100%;
  background:#000000b8;
}

#FCname, #FCslogan {
    color: #bf9e49;
    text-shadow: 1px 1px 4px #ffffff9e;
    font-size: 3em;
    text-align: center;
    margin: auto;
    /* display: inline-block; */
    /* float: left; */
    padding-top: 20px;
    padding-bottom: 20px;
}

#FCslogan{
  font-size:16px;  
}

.Crest{
  position:absolute;
  top:0;
  left:0;  
}
p#FCcrest {
    width: 128px;
    position: relative;
    border: 2px solid gold;
    height: 128px;
    display: inline-block;
    float: left;
}

.charCard {
    width: 200px;
    height: 301px;
    display: inline-block;
    margin: 2px;
    /* border: 2px solid #a98b2a; */
    /* border-radius: 89px; */
    /* background: #ae9031; */
}

.front, .back {
    background: #b19336;
}

.portrait{
  width: 99%;
  height:auto;
  margin:0;
  border-radius: 15px;
  border: 1px solid #b19336;
}

.charName {
    position: relative;
    /* bottom: 0; */
    background: #171f85;
    color: white;
    height: 20px;
    font-size: 16px;
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 2px;
    border-radius: 11px;
    border: 2px solid #b19336;
}

.members{
  max-width:80%;
  text-align:center;
  margin:auto;
}

.SB,.HW,.SHB{
   display:none;
}

.SHB{
  display:inline-block;
}